<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- 侧边栏菜单组件 -->
    <div th:fragment="sidebar">
        <el-aside :class="['sidebar', { collapsed: collapsed }]">
            <el-menu
                default-active="1"
                :background-color="'var(--sidebar-bg)'"
                text-color="#d9d9d9"
                :active-text-color="'var(--primary-color)'"
                :collapse="collapsed"
                style="border-right: none;">
                
                <!-- 动态渲染菜单项 -->
                <template v-for="item in menuItems" :key="item.id">
                    <!-- 普通菜单项 -->
                    <el-menu-item 
                        v-if="item.type === 'item'" 
                        :index="item.id"
                        @click="handleMenuClick(item)">
                        <el-icon>
                            <component :is="item.icon"></component>
                        </el-icon>
                        <span>{{ item.name }}</span>
                    </el-menu-item>
                    
                    <!-- 子菜单 -->
                    <el-sub-menu 
                        v-else-if="item.type === 'submenu'" 
                        :index="item.id">
                        <template #title>
                            <el-icon>
                                <component :is="item.icon"></component>
                            </el-icon>
                            <span>{{ item.name }}</span>
                        </template>
                        <el-menu-item 
                            v-for="child in item.children" 
                            :key="child.id"
                            :index="child.id"
                            @click="handleMenuClick(child)">
                            <el-icon v-if="child.icon">
                                <component :is="child.icon"></component>
                            </el-icon>
                            <span>{{ child.name }}</span>
                        </el-menu-item>
                    </el-sub-menu>
                </template>
            </el-menu>
        </el-aside>
    </div>
</body>
</html>